node-red/flows.json
[
    {
        "id": "6442ae2d904ac12a",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "93dc2f3688c5c6ed",
        "type": "influxdb",
        "hostname": "localhost",
        "port": 8086,
        "protocol": "http",
        "database": "database",
        "name": "Smart_Car_InfluxDB",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://localhost:8086",
        "timeout": 10,
        "rejectUnauthorized": true
    },
    {
        "id": "788e0bc579b9ac5d",
        "type": "tls-config",
        "name": "TLS Localhost",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "ca.crt",
        "servername": "",
        "verifyservercert": false,
        "alpnprotocol": ""
    },
    {
        "id": "5be2547a371231d5",
        "type": "mqtt-broker",
        "name": "Übertragungs Broker",
        "broker": "localhost",
        "port": "8883",
        "tls": "788e0bc579b9ac5d",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "ad51ab2a36b6b655",
        "type": "mqtt in",
        "z": "6442ae2d904ac12a",
        "name": "Wlan Übertragung",
        "topic": "smartcar/#",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "5be2547a371231d5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 390,
        "y": 240,
        "wires": [
            [
                "76294497fded2022",
                "bcd57c9766476f10"
            ]
        ]
    },
    {
        "id": "76294497fded2022",
        "type": "function",
        "z": "6442ae2d904ac12a",
        "name": "CSV -> InfluxDB msg",
        "func": "let lines = msg.payload.trim().split(\"\\n\");\nlet points = [];\nlet vehicle_id_from_topic = msg.topic.split(\"/\")[1]; // Auto-ID aus Topic\n\nlines.forEach(line => {\n    let cols = line.split(\",\");\n    let type = cols[0].trim().toLowerCase();\n\n    if (type === \"trip\") {\n        let [, trip_id, start_ts, end_ts, max_acc, max_brake, fuel_start, fuel_end, bat_start, bat_end] = cols;\n\n        points.push({\n            measurement: \"trip_summary\",\n            tags: { vehicle_id: vehicle_id_from_topic, trip_id },\n            fields: {\n                max_acceleration_kmh: parseFloat(max_acc) || 0,\n                max_braking_g: parseFloat(max_brake) || 0,\n                fuel_start_l: parseFloat(fuel_start) || 0,\n                fuel_end_l: parseFloat(fuel_end) || 0,\n                battery_start_v: parseFloat(bat_start) || 0,\n                battery_end_v: parseFloat(bat_end) || 0\n            },\n            timestamp: new Date(parseInt(start_ts) * 1000)\n        });\n\n    } else if (type === \"state\") {\n        let [, ts, fuel, batt, state] = cols.slice(1); // Vehicle-ID aus Topic\n\n        points.push({\n            measurement: \"vehicle_state\",\n            tags: { vehicle_id: vehicle_id_from_topic, state },\n            fields: {\n                fuel_l: parseFloat(fuel) || 0,\n                battery_voltage_v: parseFloat(batt) || 0\n            },\n            timestamp: new Date(parseInt(ts) * 1000)\n        });\n\n    } else if (type === \"error\") {\n        let [, ts, error_code, active] = cols.slice(1);\n\n        points.push({\n            measurement: \"vehicle_errors\",\n            tags: { vehicle_id: vehicle_id_from_topic, error_code },\n            fields: { active: parseInt(active) || 0 },\n            timestamp: new Date(parseInt(ts) * 1000)\n        });\n    }\n});\n\nmsg.payload = points; // immer Array\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 240,
        "wires": [
            [
                "d8b77bee70f2d131",
                "bdaa9937d7f6fd70"
            ]
        ]
    },
    {
        "id": "d8b77bee70f2d131",
        "type": "debug",
        "z": "6442ae2d904ac12a",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 320,
        "wires": []
    },
    {
        "id": "bdaa9937d7f6fd70",
        "type": "influxdb out",
        "z": "6442ae2d904ac12a",
        "influxdb": "93dc2f3688c5c6ed",
        "name": "Wlan Daten",
        "measurement": "",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "vehicle_org",
        "bucket": "vehicle_data",
        "x": 830,
        "y": 240,
        "wires": []
    },
    {
        "id": "bcd57c9766476f10",
        "type": "debug",
        "z": "6442ae2d904ac12a",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 320,
        "wires": []
    }
]